@import '_basicos';
// ESTILOS MOBILE
// index
.main-index{
    height: 1280px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: url(/img/BeFunky-photo.jpg) no-repeat center center fixed;
    background-size: cover;
    max-height: 800px;

    p{
        font-size: large;
        max-width: 50%;
        justify-content: center;
    }

    a:hover{
        animation: pulse; 
        animation-duration: 2s; 
    }
}

// odontologos
.main-odontologos{
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    
    grid-template-areas: 
    "uno"
    "dos"
    "tres"
    "cuatro";
   align-items:center;
   justify-items: left;
   margin-left: 10%;
   margin-right: 10%;
   margin-top: 5%;

   .item1{
    grid-area: uno;
    h2{
        font-size: 50px;
    }
   }

   .item2{
    grid-area: dos;
    font-size: 30px;
    margin: 0%;
   }

   .item3{
    grid-area: tres;
    margin: 0%;
    li{
        font-size: 40px;
        color: #63BBDB;
    }
   }

   .item4{
    grid-area: cuatro;
    margin: 2%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5%;
    }
   }
}

.body-odontologos{
    padding-bottom: 5em;
}

// tratamientos
.main-tratamientos{
    .p-tratamientos{
        color: #63BBDB;
    }
}
.contenedor-main-tratamientos{
    margin: 1% 10% ;
    .card:hover{
        scale: 1.1;
        transition: all 0.2s; 
    }
}
.body-tratamientos{
    padding-bottom: 5em;
}


// doctor
.main-doctor{
    margin: 40px;
    
}
.contenedor-doctor{
    display: grid;
    grid-gap: 20px;
    
}
.body-doctor{
    padding-bottom: 2em;
}

.scale-up-vertical-center{
    animation:scale-up-vertical-center 0.4s
} 

@keyframes scale-up-vertical-center{
    0%{transform:scaleY(.2)
    }
    100%{transform:scaleY(1)
    }
}

// ubicacion
.body-ubicacion{
    padding-bottom: 2em;
}

// MEDIA QUERY
@media screen and (min-width: 961px){
    /* pagina odontologos */
    .main-odontologos{
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr;
        
        grid-template-areas: 
        "uno cuatro"
        "dos cuatro"
        "tres cuatro";
        align-items: center;
        justify-items: stretch;

        .item1{
            grid-area: uno;
            width: 100%;
        }

        .item2{
            grid-area: dos;
            margin-right: 10%;
            width: 100%;
        }

        .item3{
            width: 100%;

            li{
                font-size: 30px;
                color: #63BBDB;
            }
        }

        .item4{
            justify-items: center;
            align-items: center;
        }
 
    }
}

@media screen and (min-width: 700px) and (max-width: 960px){
    /* pagina odontologos */
    .main-odontologos{
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr;
        
        grid-template-areas: 
        "uno dos"
        "cuatro cuatro"
        "tres tres";
        align-items: center;
        justify-items: center;
        
        .item-odon{
            h2{
                margin: 0% 20%;
                font-size: 35px;
            }

            li{
                font-size: 35px;
            }

            p{
                font-size: 25px;
            }
        }
    }
}

@media screen and (min-width: 700px){
    .contenedor-doctor{
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr;
        grid-gap: 40px;

        .item{
            font-size: 40px;
            height: 100%;

            h2{
                font-size: 40px;
            }
        }
    }
    .body-doctor{
        padding-bottom: 3em;
    }
}